.PPageHeaderWrapper {
  position: relative;
  top: -4px;

  .title {
    height: 30px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 28px;

    img {
      width: 28px;
      height: 28px;
      margin-right: 6px;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
  }
}
:global {
  .ant-page-header {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 0;
  }
  .ant-page-header-heading-title {
    height: 30px;
    font-size: 16px;
  }
  .ant-page-header-heading-left {
    margin: 0;
  }
}
