@layout-header-height: 48px;
@layout-header-menu-height: 48px;

@layout-color: #0a2040;
@primary-color: #3188ff;

@sublayout-color: #071429;
@hover-color: rgba(49, 136, 255, 0.1);
@btn-info-color: #27cccc;
@icon-main-color: #ff6731;

@success-color: #51c41a;
@warning-color: #faad13;
@error-color: #f4212d;

@text-color: #3f454a;
@text-title-color: #1e2023;
@text-subtitle-color: #5e6973;
@text-placeholder-color: #a9b0b8;

@background-color: #f5f7fa;
@border-color: #e0e5ec;

@disabled-formItem-color: #00000060;
@disabled-formItem-bg: #f5f5f5;

:global {
  .ant-pro-basicLayout-content {
    margin: 16px;
  }

  .ant-card {
    margin-bottom: 20px !important;
  }

  .ant-card-body {
    padding: 15px;
  }

  .ant-table thead > tr > th {
    background-color: @background-color !important;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-input[disabled] {
    color: @disabled-formItem-color;
    background-color: @disabled-formItem-bg;
  }

  .ant-cascader-picker-disabled {
    color: @disabled-formItem-color;
    background-color: @disabled-formItem-bg;
  }

  .ant-select-disabled {
    color: @disabled-formItem-color;
  }

  .ant-select-disabled .ant-select-selection {
    background: @disabled-formItem-bg;
  }

  .ant-form-item-explain,
  .ant-form-item-extra {
    height: 12px;
    min-height: 12px;
    margin-top: 3px;
    color: @error-color;
    font-size: 12px;
    line-height: 12px;
  }

  .ant-modal {
    width: 100px;

    .ant-modal-header {
      padding: 9px 24px;
      background: @primary-color;
      border-bottom: 1px solid @border-color;
    }

    .ant-modal-title {
      color: #fff;
      font-size: 14px;
    }

    .ant-modal-close-x {
      width: 42px;
      height: 42px;
      color: #fff;
      font-size: 16px;
      line-height: 42px;
    }

    .ant-modal-footer {
      padding: 16px;
    }
  }

  .ant-progress-text {
    color: @primary-color !important;
    font-size: 14px;
  }
}
