@import '../../utils/reset';
.PQueryTable {
  display: flex;
  margin-bottom: 10px;

  .toolBtn {
    margin-right: 0;
    margin-left: auto;

    button {
      margin-right: 10px;
    }

    button:last-child {
      margin-right: 0;
    }
  }
}
