@import '../../utils/reset';

:global {
  .ant-form-inline .ant-form-item {
    margin: 5px 16px 5px 0;
  }
}

.PQueryForm {
  display: flex;
  //margin-bottom: 10px;

  .toolBtn {
    margin-right: 0;
    margin-left: auto;

    button {
      margin-right: 10px;
    }

    button:last-child {
      margin-right: 0;
    }
  }

  .collapse {
    button {
      padding: 0;
    }
  }
}
